<ion-menu side="end" content-id="main-content" menuId="first">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-menu>

<ion-content id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/inicio"></ion-back-button>
      </ion-buttons>
      <ion-title>Asistencia</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Registro de Asistencia</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label>Asignatura</ion-label>
        <ion-select [(ngModel)]="selectedSubject">
          <ion-select-option *ngFor="let subject of subjects" [value]="subject">{{ subject }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Profesor</ion-label>
        <ion-select [(ngModel)]="selectedTeacher">
          <ion-select-option *ngFor="let teacher of teachers" [value]="teacher">{{ teacher }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Fecha</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="selectedDate"></ion-datetime>
      </ion-item>

      <ion-button expand="full" (click)="registerAttendance()">Registrar Asistencia</ion-button>

      <div *ngIf="attendanceMessage" class="message-container">
        <p>{{ attendanceMessage }}</p>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="social-icons">
      <ion-button href="https://www.instagram.com/duoc_maipu/" target="_blank" fill="clear">
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-button>
      <ion-button href="https://www.duoc.cl" target="_blank" fill="clear">
        <ion-icon name="globe-outline"></ion-icon>
      </ion-button>
      <ion-button href="https://twitter.com/duocuc" target="_blank" fill="clear">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-button>
    </div>
    <div class="footer-text">
      <p>© 2024 DuocUC. Todos los derechos reservados.</p>
    </div>
  </ion-toolbar>
</ion-footer>

