<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/forgot-password" text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo">Cambiar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="changePasswordForm" class="formulario">
    <ion-item>
      <ion-input 
        type="password" 
        placeholder="ingrese nueva contraseña" 
        label="Nueva contraseña:" 
        labelPlacement="floating"
        formControlName="newPassword">
      </ion-input>
    </ion-item>

    <div id="alerta" *ngIf="changePasswordForm.get('newPassword')?.invalid && 
        (changePasswordForm.get('newPassword')?.dirty || changePasswordForm.get('newPassword')?.touched)">
      <div id="alerta" *ngIf="changePasswordForm.get('newPassword')?.hasError('required')">
        *La contraseña es obligatoria
      </div>
      <div id="alerta" *ngIf="changePasswordForm.get('newPassword')?.hasError('minlength')">
        *La contraseña debe tener mínimo 6 caracteres
      </div>
    </div>

    <ion-item>
      <ion-input 
        type="password" 
        placeholder="confirme contraseña" 
        label="Confirmar contraseña:" 
        labelPlacement="floating"
        formControlName="confirmPassword">
      </ion-input>
    </ion-item>

    <div id="alerta" *ngIf="changePasswordForm.get('confirmPassword')?.invalid && 
        (changePasswordForm.get('confirmPassword')?.dirty || changePasswordForm.get('confirmPassword')?.touched)">
      <div id="alerta" *ngIf="changePasswordForm.get('confirmPassword')?.hasError('required')">
        *Debe confirmar la contraseña
      </div>
      <div id="alerta" *ngIf="changePasswordForm.hasError('passwordMismatch') && 
          changePasswordForm.get('confirmPassword')?.touched">
        *Las contraseñas no coinciden
      </div>
    </div>

    <div class="boton">
      <ion-button 
        (click)="cambiarContrasena()" 
        [disabled]="!changePasswordForm.valid" 
        shape="round" 
        color="primary">
        Guardar nueva contraseña
      </ion-button>
    </div>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="social-icons">
      <ion-button href="https://www.instagram.com/duoc_maipu/" target="_blank" fill="clear">
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-button>
      <ion-button href="https://www.duoc.cl" target="_blank" fill="clear">
        <ion-icon name="globe-outline"></ion-icon>
      </ion-button>
      <ion-button href="https://twitter.com/duocuc" target="_blank" fill="clear">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-button>
    </div>
    <div class="footer-text">
      <p>© 2024 DuocUC. Todos los derechos reservados.</p>
    </div>
  </ion-toolbar>
</ion-footer>