<ion-menu side="end" content-id="main-content" menuId="first">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item *ngFor="let item of menu" [routerLink]="item.redirecTo">
        <ion-icon slot="start" [name]="item.icon"></ion-icon>
        <ion-label>{{ item.name }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-menu-button menu="first"></ion-menu-button>
      </ion-buttons>
      <ion-title>Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="welcome-section">
    <h2>¡Bienvenido! {{usuario.correo}}</h2>
    <p>Estas son tus próximas actividades:</p>
  </div>

  <swiper-container [slidesPerView]="1" [loop]="true" pagination="true">
    <swiper-slide>
      <img src="assets/img/Carrusel/carrusel1.png" alt="Slide 1" />
    </swiper-slide>
    <swiper-slide>
      <img src="assets/img/Carrusel/carrusel2.png" alt="Slide 2" />
    </swiper-slide>
    <swiper-slide>
      <img src="assets/img/Carrusel/carrusel1.png" alt="Slide 3" />
    </swiper-slide>
  </swiper-container>


</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="social-icons">
      <ion-button href="https://www.instagram.com/duoc_maipu/" target="_blank" fill="clear">
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-button>
      <ion-button href="https://www.duoc.cl" target="_blank" fill="clear">
        <ion-icon name="globe-outline"></ion-icon>
      </ion-button>
      <ion-button href="https://twitter.com/duocuc" target="_blank" fill="clear">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-button>
    </div>
    <div class="footer-text">
      <p>© 2024 DuocUC. Todos los derechos reservados.</p>
    </div>
  </ion-toolbar>
</ion-footer>